<?xml version="1.0"?>
<model>
    <name>Parede Lisa</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Daniel Regner</name>
        <email>daniel.regner@labmetro.ufsc.br</email>
    </author>

    <description>
        Uma parede Lisa
    </description>
</model>