<?xml version="1.0"?>

<model>
    <name>Canon</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Optional: Diogo Henrique</name>
        <email>Optional: diogo.oliveira@labmetro.ufsc.br</email>
    </author>
    <author>
        <name>Optional: Daniel</name>
        <email>Optional: diogo.henrique.df@gmail.com</email>
    </author>


    <description>
        Model da camera a ser usada no simulador.
    </description>

</model>