<launch>
    <arg name="world_name" default="camera"/>
    <arg name="verbose" default="true"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find vant3d_gazebo)/models"/>
    <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find vant3d_gazebo)/models"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find vant3d_gazebo)/worlds/$(arg world_name).world"/>
        <!-- more default parameters can be changed here -->
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

</launch>